* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container__main {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 20px;
  background: rgb(83, 83, 83);
}
.container__main .grid__container {
  width: 100%;
  padding: 20px 0px;
  background: brown;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-areas: "grid__header__superior   grid__header__superior    grid__header__superior" "grid__header__menu       grid__header__menu        grid__header__menu" "grid__banner             grid__banner              grid__banner" "grid__seccion__uno       grid__seccion__uno        grid__seccion__uno" "grid__seccion__dos       grid__seccion__dos        grid__seccion__dos" "grid__footer             grid__footer              grid__footer";
}
.container__main .grid__container .grid__header__superior {
  background: rgb(239, 97, 97);
  padding: 5px 0px;
  grid-area: grid__header__superior;
}
.container__main .grid__container .grid__header__menu {
  background: rgb(239, 97, 97);
  padding: 5px 0px;
  grid-area: grid__header__menu;
}
.container__main .grid__container .grid__banner {
  background: rgb(239, 97, 97);
  padding: 5px 0px;
  grid-area: grid__banner;
  display: none;
}
.container__main .grid__container .grid__seccion__uno {
  background: rgb(239, 97, 97);
  padding: 5px 0px;
  grid-area: grid__seccion__uno;
  display: none;
}
.container__main .grid__container .grid__seccion__dos {
  background: rgb(239, 97, 97);
  padding: 5px 0px;
  grid-area: grid__seccion__dos;
  display: none;
}
.container__main .grid__container .grid__footer {
  background: rgb(239, 97, 97);
  padding: 5px 0px;
  grid-area: grid__footer;
  display: none;
}

.contHeaderSuperior {
  width: 100%;
  padding: 5px 0px;
  background: rgb(27, 27, 27);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contHeaderSuperior .contHeaderSuperior__blocks {
  width: 50%;
  padding: 5px 0px;
  background: rgb(27, 27, 27);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contHeaderSuperior .contHeaderSuperior__blocks .blocks__box {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contHeaderSuperior .contHeaderSuperior__blocks .blocks__box .icon__box {
  padding: 5px 8px;
  color: white;
}
.contHeaderSuperior .contHeaderSuperior__blocks .blocks__box .date__box {
  font-weight: 300;
  color: white;
  font-size: 14px;
}
.contHeaderSuperior .contHeaderSuperior__networks {
  width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contHeaderSuperior .contHeaderSuperior__networks .icon__networks {
  padding: 8px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  transition: 0.2s all;
}
.contHeaderSuperior .contHeaderSuperior__networks .icon__networks:hover {
  background: rgb(0, 157, 157);
  cursor: pointer;
  transform: translateY(2px);
}

/*
contHeaderMenu
contHeaderMenu__logo
*/
.contHeaderMenu {
  width: 100%;
  padding: 5px 0px;
  background: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contHeaderMenu .contHeaderMenu__logo {
  width: 240px;
  height: 50px;
  background: orange;
}
.contHeaderMenu .contHeaderMenu__menu {
  width: auto;
  padding: 5px 0px;
  background: orange;
}
.contHeaderMenu .contHeaderMenu__menu .menu__list {
  width: 750px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.contHeaderMenu .contHeaderMenu__menu .menu__list .menu__item {
  width: 140px;
  padding: 8px 0px;
  position: relative;
  text-align: center;
  background: hotpink;
}
.contHeaderMenu .contHeaderMenu__menu .menu__list .menu__item .menu__link {
  text-decoration: none;
  color: rgb(27, 27, 27);
}
.contHeaderMenu .contHeaderMenu__menu .menu__list .menu__item .iconArrow {
  margin-left: 5px;
  color: rgb(27, 27, 27);
  font-size: 15px;
}
.contHeaderMenu .contHeaderMenu__menu .menu__list .menu__item .submenuList {
  width: 100%;
  list-style: none;
  position: absolute;
  top: 40px;
  margin-left: 15px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all;
  background: rgb(27, 27, 27);
}
.contHeaderMenu .contHeaderMenu__menu .menu__list .menu__item .submenuList .submenu__item {
  width: 100%;
  padding: 8px 0px;
  background: rgba(4, 49, 92, 0.841);
  margin: 1px 0px;
  display: flex;
  justify-content: flex-start;
}
.contHeaderMenu .contHeaderMenu__menu .menu__list .menu__item .submenuList .submenu__item .submenu__link {
  text-decoration: none;
  color: rgb(243, 243, 243);
  margin-left: 10px;
}
.contHeaderMenu .contHeaderMenu__menu .menu__list .menu__item .submenuList .submenu__item:hover {
  background: rgba(9, 9, 9, 0.841);
}
.contHeaderMenu .contHeaderMenu__menu .menu__list .menu__item:hover .submenuList {
  opacity: 1;
  visibility: visible;
  transform: translateX(10px);
}

/*# sourceMappingURL=main.css.map */
