
/*ESTILOS PERSONALIZADOS*/
.contSecctionUno__blocks{
    margin: 30px auto;
    width: 85%;
    padding: 5px 0px;
    /*background: rgb(188, 188, 188);*/
}



/*ESTILOS PREDETERMINADOS SWIPER*/
.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  /*ESTILOS PERSONALIZADOS*/

  .contSecctionUno__blocks .slade__contBlock{
    width: 300px;
    height: 320px;
    /*padding: 5px 0px;*/
    position: relative;
  }

  .slade__contBlock .slade__image{
     width: 100%;
     height: 100%;
  }

  .slade__contBlock .slade__box{
    width: 100%;
    height: 100%;
    padding: 25px 0px;
    background: #081f31c7;
    position: absolute;
    top: 230px;
    transition: 0.4s all;
  }

  .slade__box .box__title{
    width: 80%;
    margin: auto;
    line-height: 25px;
    color:white;
    font-size: 24px;
    font-weight: 700;
  }

  .slade__box .box_description{
    width: 90%;
    padding: 5px 0px;
    margin: 20px auto;
    color: white;
  }

  .slade__box .box_btn{
    width: 150px;
    padding: 5px 0px;
    border: 2px solid white;
    background: transparent;
    color: white;
  }

  .slade__box .box_btn:hover{
    background: rgba(0, 0, 0, 0.54);
    cursor: pointer;
  }

  .slade__contBlock:hover .slade__box{
    top: 0;
  }