@import "variables";


.contBanner{
    width: 100%;
    background: rgb(46, 78, 78);
    position: relative;
    overflow: hidden;
    .contBanner__blocks{
        width:300%;
        display: flex;
        flex-direction: row;
        .contBanner__boxs{
            width: 100%;
            height: 500px;
            color: white;
            position: relative;
            .boxs__image{
                width: 100%;
                height: 100%;
            }

            .boxs__article{
                width: 100%;
                height: 100%;
                padding-top: 80px;
                position: absolute;
                top: 0;
                background: rgba(0, 0, 0, 0.641);
                text-align: center;
                .article__title{
                    color: white;
                    font-size: 70px;
                    font-weight: 700;
                }
                .article__description{
                    width: 80%;
                    margin: 30px auto;
                    color: rgb(191, 191, 191);
                    font-weight: 300;
                }
                .slide__btn{
                    margin-top: 30px;
                    width: 220px;
                    padding: 10px 0px;
                    border: 1.5px solid white;
                    background: transparent;
                    color: white;
                    transition: 0.2s linear;
                }
                .slide__btn:hover{
                    background: rgba(0, 0, 0, 0.373);

                }
            }
        }
        
    }

    .arrowLeft{
        width: 50px;
        height: 50px;
        position: absolute;
        top: calc(50% - 25px);
        left: 20px;
        .iconArrows{
            color:$color_white;
            font-size: 45px;
            cursor: pointer;
            animation-name: arrowNext;
            animation-duration: 0.8s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        @keyframes arrowNext {
            from{
                transform: translateX(5px);
                opacity: 0;
            }to{
                transform: translateX(-5px);
                opacity: 1;
            }
        }
    }
    
    .arrowRight{
        width: 50px;
        height: 50px;
        position: absolute;
        top: calc(50% - 25px);
        right: 20px;
        .iconArrows{
            color:$color_white;
            font-size: 45px;
            cursor: pointer;
            animation-name: arrowPrev;
            animation-duration: 0.8s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        @keyframes arrowPrev     {
            from{
                transform: translateX(-5px);
                opacity: 0;
            }to{
                transform: translateX(5px);
                opacity: 1;
            }
        }
    }
}