@import "variables";


.contHeaderMenu{
    width: 100%;
    padding: 5px 0px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 100;
    box-shadow: 10px 0px 5px rgb(24, 24, 24);
    .contHeaderMenu__logo{
        width: 240px;
        height: 70px;
        margin-left: 10px;
    }

    .contHeaderMenu__menu{
        width:490px;
        padding: 5px 0px;
        //margin-left: 140px;
        margin-right: 10px;
        .menu__list{
            width: 100%;
            //background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            .menu__item{
                width: 140px;
                padding:8px 0px;
                position: relative;
                text-align: center;
                //background: hotpink;

                .menu__link{
                    text-decoration: none;
                    color: $color_black;
                }
                .menu__link:hover{
                    color: grey ;
                }

                .iconArrow{
                    margin-left: 5px;
                    color:$color_black;
                    font-size: 15px;
                }
                
                .submenuList{
                    width: 100%;
                    list-style: none;
                    position: absolute;
                    top:40px;
                    margin-left: 15px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.2s all;
                    background: $color_white;
                    .submenu__item{
                        width: 100%;
                        padding: 8px 0px;
                        background: $color_azulMarinoTrans;
                        background:$color_black;
                        margin: 1px 0px;
                        display: flex;
                        justify-content: flex-start;
                        .submenu__link{
                            text-decoration: none;
                            color: rgb(243, 243, 243);
                            margin-left: 10px;
                        }
                    }
                    .submenu__item:hover{
                        background:rgba(9, 9, 9, 0.841);
                    }
                }
                &:hover{
                    .submenuList{
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(30px);
                    cursor: pointer;
                    }
                }
            }
        }
    }

    .contHeaderMenu__icons{
        display: none;
    }
}





/**********************************
****************************
********************************/
@media (min-width:320px) and (max-width:769px){
    .contHeaderMenu{
        width: 100%;
        padding: 5px 0px;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left:0;
        right:0;
        z-index: 100;
        box-shadow: 10px 0px 5px rgb(24, 24, 24);
        .contHeaderMenu__logo{
            width:180px;
            height: 50px;
            margin-left: 10px;
        }
    
        .contHeaderMenu__menu{
            width:200px;
            padding:5px 0px;
            margin-left:0;
            position: absolute;
            background:$color_azulVerde_solido;
            
            //backdrop-filter: blur(15px);
            //background: orange;
            top: 69px;
            left: -100%;
            transition: 0.5s ease;
            .menu__list{
                width: 100%;
                height: 100vh;
                padding: 20px 0px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                list-style: none;
                .menu__item{
                    width: 100%;
                    padding:10px 0px;
                    position: relative;
                    text-align: start;
                    display: flex;
                    justify-content:flex-start;
                    align-items: center;
                    .menu__link{
                        text-decoration: none;
                        color: $color_white;
                        margin-left: 20px;
                    }
                    .menu__link:hover{
                        color: grey ;
                    }
    
                    .iconArrow{
                        margin-left: 5px;
                        color:$color_white;
                        font-size: 15px;
                    }
                    
                    .submenuList{
                        width: 150px;
                        list-style: none;
                        position: absolute;
                        top:40px;
                        margin-left: 100px;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.2s all;
                        background: $color_azulVerde_solido;
                        z-index: 100;
                        .submenu__item{
                            width:100%;
                            padding: 8px 0px;
                            background: $color_azulMarinoTrans;
                            background: $color_white;
                            margin: 1px 0px;
                            display: flex;
                            justify-content: flex-start;
                            background: $color_white;
                            .submenu__link{
                                text-decoration: none;
                                color: $color_black;
                                margin-left: 10px;
                            }
                        }
                        .submenu__item:hover{
                            background:$color_azulVerde;
                            .submenu__link{
                                color: $color_white;
                            }
                        }
                    }
                    &:hover{
                        .submenuList{
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(30px);
                        cursor: pointer;
                        }
                    }
                }
            }
        }

        .contHeaderMenu__menu__JS{
            left: 0;
            //transform: translateX();
        }
    
        .contHeaderMenu__icons{
            padding: 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 10px;
            .iconMenu{
                cursor: pointer;
                font-size: 25px;
                margin-right: 10px;
            }

            .iconHamburguer{
                background:transparent;
            }
        }

        
        
    }
}