@import "variables";


.container__main{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    background: rgb(83, 83, 83);
    .grid__container{
        width: 100%;
        padding: 20px 0px;
        background:brown;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 1em;
        grid-template-areas: 
            "grid__header__superior   grid__header__superior    grid__header__superior"
            "grid__header__menu       grid__header__menu        grid__header__menu"
            "grid__banner             grid__banner              grid__banner"
            "grid__seccion__uno       grid__seccion__uno        grid__seccion__uno"
            "grid__seccion__dos       grid__seccion__dos        grid__seccion__dos"
            "grid__footer             grid__footer              grid__footer";

            .grid__header__superior{
                background: rgb(239, 97, 97);
                padding: 5px 0px;
                grid-area: grid__header__superior;
            }

            .grid__header__navbar{
                background: rgb(239, 97, 97);
                padding: 5px 0px;
                grid-area: grid__header__navbar;
            }

            .grid__banner{
                background: rgb(239, 97, 97);
                padding: 5px 0px;
                grid-area: grid__banner;
            }

            .grid__seccion__uno{
                background: rgb(239, 97, 97);
                padding: 5px 0px;
                grid-area: grid__seccion__uno;
            }

            .grid__seccion__dos{
                background: rgb(239, 97, 97);
                padding: 5px 0px;
                grid-area: grid__seccion__dos;
            }

            .grid__footer{
                background: rgb(239, 97, 97);
                padding: 5px 0px;
                grid-area: grid__footer;
            }

    }
}