//COLORS PRIMARYS

$color_black:rgb(27, 27, 27);
$color_azulMarino:#081f31;
$color_azulMarinoTrans:#081f31c7;
$color_white:#ffffff;
$color_azulVerde:#081f31b9;
$color_azulVerde_claro:#c4dff4e6;



//FONTS
$font_titles:40px;
