@import "variables";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


//IMPORTTS
@import "gridMain";
@import "headerSuperior";
@import "contHeaderMenu";
@import "contBanner";
@import "contSecctionUno";
@import "contSecctionDos";
@import "contFooter";


@import "btn_top";